.xui {
  &-justify {
    &-center {
      justify-content: center !important;
    }

    &-flex-end {
      justify-content: flex-end !important;
    }

    &-flex-start {
      justify-content: flex-start !important;
    }
  }

  &-align {
    &-center {
      align-items: center !important;
    }

    &-flex-end {
      align-items: flex-end !important;
    }

    &-flex-start {
      align-items: flex-start !important;
    }
  }

  &-flex {
    &-grow {
      flex: 1 0 auto;
    }

    &-auto {
      flex: 1 1 auto;
    }

    &-shrink {
      flex: 0 1 auto;
    }

    &-row {
      flex-direction: row;
    }

    &-column {
      flex-direction: column;
    }
  }

  &-width {
    &-100 {
      width: 100%;
    }
  }
}
