.xui-display-block {
  display: block !important;
}

.xui-display-inline-block {
  display: inline-block !important;
}

.xui-display-inline {
  display: inline !important;
}

.xui-display-flex {
  display: flex !important;
}

.xui-display-inline-flex {
  display: inline-flex !important;
}
