<div class="login mdc-theme--surface">
  <div class="mdc-layout-grid">
      <div class = "mdc-layout-grid__inner login-content">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-elevation--z2  login-panel">
          {{form-for/login}}
         </div>
    </div>
  </div>
</div>
